*.iml
.gradle
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
build
build/*
.gradle/*
.idea
.idea/*
*/*.iml
*/~lock*
*.apk
*/*/*.apk
*/*#
*.xml~*
out/
pttsdk.iml
workspace.xml
app/build/*
app/app.iml
app/build/*
app/app.iml

uikit/build/*
uikit/uikit.iml
*.zip
*.tar.gz
app/libs/
app/src/main/res/drawable/
app/src/main/res/layout/
uikit/libs/
